<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css">

  <link rel="stylesheet" type="text/css" href='{{ "/css/style.css" | absURL }}'>
{{ partial "favicon.html" . }}
{{ partial "analytics.html" . }}
	{{ if isset .Params "title"}}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{end }}
  {{ if not (isset .Params "title")}}
  <title>{{ .Site.Title }}</title>
  {{end }}
  <meta name="viewport" content="width=device-width" />
	<title>{{ .Title }}</title>
</head>
<body>
	
