{{ partial "head.html" . }}
<header class="site-header">
<div class="container">
	{{ partial "site-nav.html" . }}
</div>
</header>
<div class="container">
<article class="post-container">
	<div class="post-header">
		<h1 class="post-title"><small>Talks by</small><br>Keisha S Perkins</h1>
	</div>
<ol class="post-list">
	{{ range $index, $element := .Sections }}
	<li class="conference">
				<h2>
					{{ .Title }}
				</h2>
				<p> 
					{{ .Content}}
				</p>
				<ul class="list-of-conference-assets">
					{{ range .Data.Pages }}
					<li class="conference-asset">
						{{ if isset .Params "pointer" }}
						<a class="button button-square" href="{{ .Params.pointer }}">
							{{ .Params.what}}
						</a> 
						{{ end }}
						{{ if not (isset .Params "pointer") }}
						<a class="button button-square" href="{{ .Permalink }}">
							{{ .Params.what}}
						</a> 
						{{ end }}
					</li>
					{{ end }}
				</ul>}}
	{{ end }}
	</li>
</ol>

	<div class="post-navigation">
		{{ partial "pagination.html" . }}
	</div>
</article>
</div>
{{ partial "footer.html" . }}